* {
    margin: 0;
    padding: 0;
    cursor: default;
}

.logo {
    float: left;
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.div1 {
    margin-top: 1px;
}

#name {
    float: left;
    margin-left: 6px;
    background-color: #998E8E;
    font-size: 2em;
}

ul {
    text-align: right;
    background-color: #998E8E;
    height: 40px;
}

li {
    font-size: 20px;
    color: white;
    list-style: none;
    display: inline-block;
    padding: 8px;
    margin-right: 40px;
}

.pro {
    width: 250px;
    height: 188px;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    border: 3px solid #998E8E;
    transition: transform .1s;
}

.pro:hover {
    transform: scale(1.05)
}

.div2 {
    margin-top: 1px;
}

.hey {
    font-size: 35px;
}

.pg {
    font-size: 40px;
}

.name,
.cb {
    font-size: 30px;
}

.short-intro {
    text-align: left;
}

p {
    font-family: 'Cormorant Infant', serif;
    font-size: 20px;
    text-align: center;
    background-color: #504848;
    color: white;
}

#mywork {
    text-align: center;
    background-color: #998E8E;
    height: 40px;
    display: block;

}

#rec {
    text-align: center;
    border: 2PX solid #998E8E;
    background-color: #998E8E;
    color: white;
    font-family: 'Cormorant Infant', serif;
    font-size: 20px;
    margin-top: 1px;

}

img {
    width: 450px;
    height: auto;
    margin: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #423A3A;
    margin-top: 1px;
}

.imgs {

    border: 3px solid #998E8E;
    border-radius: 10px;
    transition: transform .1s;
}

.imgs:hover {
    transform: scale(1.02);
}

.footer {
    padding-bottom: 100px;
    background-color: #998E8E;
}